In [39]:
import pandas as pd
def encodeMarketValue(value:float)->int:
    value = value / 100000000
    __encode_list = [0,10,25,78,117,175,262,393,590,885,1327,1990,2985,4448,6672,10008]
    size = len(__encode_list)
    for i in range(1,size):
        if value <__encode_list[i]:
            return i - 1
    return size - 1;


sample_pd = pd.read_csv('tran_data.csv',dtype=str,header = None)
sample_pd.head()

,0,1,2,3,4,5,6,7,8
0,601318,664334021650.7244,0.15418604651162796,0.5053395123916984,-0.07254718243876306,5.93005747,4.22896698,8.31043509,-0.008343522914559937
1,600048,116095840888.62483,0.24783362218370897,0.5027777777777778,-0.03142329020332716,10.00205662,2.57976176,16.2278429,-0.01933436349056582
2,601166,314363551340.81866,0.11786372007366494,0.35914332784184505,-0.12303030303030299,5.96784055,3.97170606,7.65843612,-0.01242021629473554
3,000002,153421350987.99405,0.15957446808510636,0.27522935779816515,-0.056115107913669145,14.09149239,9.88767941,13.15187513,-0.008122531429497017
4,600000,292672964315.99554,0.21568627450980404,0.26532258064516123,-0.07775653282345436,4.62749261,3.43010215,7.40138485,-0.016566726315468

In [42]:
from decimal import Decimal

for index,row in sample_pd.head(5).iterrows():
    row[1] = encodeMarketValue(float(row[1]))
    row[2] = round(Decimal(row[2])*100,1)
    row[3] = round(Decimal(row[3])*100,1)
    row[4] = round(Decimal(row[4])*100,1)
    row[5] = round(Decimal(row[5]),1)
    row[6] = round(Decimal(row[6]),1)
    row[7] = round(Decimal(row[7]),1)
    row[8] = round(Decimal(row[8])*100,0)

sample_pd.head()

        0  1         2         3         4     5    6     7   8
0  601318  0  154000.0  505000.0  -73000.0   5.9  4.2   8.3  -1
1  600048  0    2480.0    5030.0    -310.0  10.0  2.6  16.2  -2
2  601166  0    1180.0    3590.0   -1230.0   6.0  4.0   7.7  -1
3  000002  0    1600.0    2750.0    -560.0  14.1  9.9  13.2  -1
4  600000  0    2160.0    2650.0    -780.0   4.6  3.4   7.4  -2