In [1]:

import jqdatasdk as jq

jq.auth('13530336157', 'Qwer4321')  # ID是申请时所填写的手机号；Password为聚宽官网登录密码，新申请用户默认为手机号后6位

auth success

In [2]:
data = jq.get_industries(name='jq_l2', date=None)

In [4]:
data.shape

(134, 2)

In [35]:
sjd = jq.normalize_code(['801161'])
sjd

['801161.XSHG']

In [31]:
stocks = jq.get_industry_stocks('801161')

In [61]:
finance = jq.finance
df=finance.run_query(jq.query(finance.SW1_DAILY_PRICE).filter(finance.SW1_DAILY_PRICE.code=='801010').order_by(finance.SW1_DAILY_PRICE.date.desc()).limit(10))

In [62]:
df.head(10)

,id,date,code,name,open,high,low,close,volume,money,change_pct
0,1882564,2020-08-05,801010,农林牧渔,4592.18,4752.19,4557.18,4751.67,3.465521e+09,4.938042e+10,2.97
1,1882508,2020-08-04,801010,农林牧渔,4635.10,4706.44,4606.46,4614.72,3.783218e+09,5.139623e+10,-0.30
2,1882452,2020-08-03,801010,农林牧渔,4522.76,4631.92,4522.76,4628.81,3.318729e+09,4.587483e+10,2.91
3,1882396,2020-07-31,801010,农林牧渔,4450.10,4501.67,4418.95,4497.91,2.905085e+09,3.724722e+10,0.54
4,1882368,2020-07-30,801010,农林牧渔,4451.98,4522.52,4443.35,4473.71,3.200686e+09,4.304110e+10,0.55
5,1882340,2020-07-29,801010,农林牧渔,4373.88,4449.25,4338.01,4449.25,2.290718e+09,3.298845e+10,1.34
6,1882284,2020-07-28,801010,农林牧渔,4287.35,4390.60,4268.64,4390.60,2.592023e+09,3.745557e+10,2.92
7,1882228,2020-07-27,801010,农林牧渔,4300.97,4360.60,4231.86,4266.04,2.374905e+09,3.321078e+10,0.31
8,1882172,2020-07-24,801010,农林牧渔,4330.12,4438.06,4221.89,4252.80,3.085015e+09,4.566760e+10,-2.27
9,1882116,2020-07-23,801010,农林牧渔,4355.71,4378.89,4265.17,4351.63,2.267353e+09,3.240552e+10,-0.72

         date    open    high     low   close
0  2018-11-21  554.00  568.90  553.68  564.70
1  2018-11-22  565.15  567.33  558.00  564.50
2  2018-11-23  564.00  567.30  556.90  556.90
3  2018-11-26  558.00  560.20  552.00  552.11
4  2018-11-27  552.00  554.99  546.50  548.10
5  2018-11-28  550.85  559.19  545.50  557.00
6  2018-11-29  566.03  569.80  549.01  551.60
7  2018-11-30  557.00  568.89  553.00  565.00
8  2018-12-03  589.00  605.00  584.77  601.20
9  2018-12-04  602.99  604.26  595.00  602.23