In [5]:

import jqdatasdk as jq

jq.auth('13530336157', 'Qwer4321')  # ID是申请时所填写的手机号；Password为聚宽官网登录密码，新申请用户默认为手机号后6位

In [11]:
from datetime import datetime, timedelta


code = '000001.XSHG'
season_date = datetime(2019,6,30) + timedelta(days= 63)
data = jq.get_bars(jq.normalize_code(code), 6, unit='1M', fields=['date', 'open', 'high', 'low', 'close', 'volume'],
                     include_now=True, end_dt=season_date)
data

         date     open     high      low    close        volume
0  2019-03-29  2954.40  3129.94  2930.83  3090.76  8.691925e+11
1  2019-04-30  3111.66  3288.45  3050.03  3078.34  7.487133e+11
2  2019-05-31  2984.73  2986.54  2833.04  2898.70  4.465127e+11
3  2019-06-28  2901.74  3012.83  2822.19  2978.88  3.974677e+11
4  2019-07-31  3024.62  3048.48  2879.69  2932.51  3.718515e+11
5  2019-08-30  2920.85  2927.34  2733.92  2886.24  3.694482e+11